body{
    background-color: #000f1f;
    color: white;
}

nav{
    padding: 10px;
    text-align: center;
    background-color: #000f1f;
    box-shadow: 4px 6px 4px rgba(11, 11, 11, 0.341);
}

form{
    background-color: #001f3d;
    border: 2px solid #173f67;
    border-radius: 3px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.567);
    flex: content;
    flex-direction: row;
    margin: 0 18%;
    padding: 25px 25px;
}

.form-header-text{
    font-size: 2em;
    font-family: monospace;
}

form > div > input{
    width: 100%;
    border: 2px solid rgb(29, 84, 139);
    border-radius: 4px;
    color: white;
    padding: 2px;
    font-size: 1.15em;
    background-color: rgb(3, 3, 36);
    cursor: pointer;
}

input::file-selector-button{
    color: rgba(255, 0, 0, 0);
    background: rgba(255, 0, 0, 0);
    border: none;
    width: 45%;
    cursor: pointer;
}

button{
    padding: 8px;
    width:145px;
    font-size: 1.07em;
    border: none;
    background-color: #234e79;
    color: white;
    font-weight: 550;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover{
    background-color: white;
    color: black;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.587);
    transform: scale(1.05);
}


footer {
    position: fixed;
    left: 0;
    bottom: 3px;
    width: 100%;
    text-align: center;
    font-size: 0.97em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}